:root {
    --primary-color: #3837E7;
    --text-color: #3A395E;
    --text-color-lighter: #6E6D8F;
    --background-color: #F6F6F6;
    --hover-color: #6E6D8F;
    --white: #FFFFFF;
    --black: #000000;
} 
footer {
   color: var(--text-color-lighter); 
   margin-top: auto;
   padding: 1rem;
   text-align: center;
}