:root {
    --primary-color: #3837E7;
    --text-color: #3A395E;
    --text-color-lighter: #6E6D8F;
    --background-color: #F6F6F6;
    --hover-color: #6E6D8F;
    --white: #FFFFFF;
    --black: #000000;
} 
.header {
    background-color: var(--background-color);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.links {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.links a {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 15px;
}   
.links a:last-child {
    margin-right: 0;
}
.links a:hover {
    color: var(--hover-color);
    transition: color 0.2s;
    text-decoration: underline;
}
